html {
  font-size: 10px;
  background: url(https://images.unsplash.com/photo-1564763060624-2df917de3766?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1851&q=80) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,2,0,0.4);
  text-shadow: 0 0 .5rem black;
  font-family: sans-serif;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.by-ryan {

    display: block;
    left: 0;
    top: 0;
    color: #000;
    padding: .2em .7em;
    border-bottom-right-radius: 8px;
    border: 1px solid #ebebeb;\background: linear-gradient(to left,#f85032,#ff4742);
    position: fixed;
    background-color: #FFFFF0;
    z-index: 1;
    font-size: 14px;
    opacity: .8;

  }

.pic {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background-image: url(https://i.imgur.com/RhLOF5c.jpg);
    background-size: cover;
    margin-left: .5em;
    margin-right: -.1em;
    vertical-align: bottom;
}

#tweet:hover {
  color: #F56358;
  opacity: 1;
  transition: .5s;

}
